<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>게시글 생성 페이지</h1>
    <form action="{% url "articles:create" %}" method='POST'>
        {% csrf_token %}
        <div>
            <label for="제목">제목</label>
            <input type="text" id='제목' name='title'>
        </div>
        <div>
            <label for="내용">내용</label>
            <textarea type="text" id='내용' name='content'></textarea>
        </div>
        <input type="submit" value='CREATE'>
    </form>
    <a href="{% url "articles:index" %}">[BACK]</a>
</body>
</html>